<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>



</head>
<body>

 <div layout:fragment="content1">

<div class="container-fluid">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row" style="margin-left: 30px">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1 class="jumbotron-heading text-primary" >Welcome</h1>
                    <p class="h6">It is a platform that gives you access to the lists of presents and absents in an hour,
                        a given time.These lists are from facial recognition system. put the date and the hours to recover the lists.</p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img th:src="@{/images/besttt.jpg}"  alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path
            fill="#f3f4f6" fill-opacity="1" d="M0,288L48,277.3C96,267,192,245,288,208C384,171,480,117,576,117.3C672,117,768,171,864,186.7C960,203,1056,181,1152,197.3C1248,213,1344,267,1392,293.3L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    <div class=" text-center">

        <img th:src="@{/images/logo.svg}" class="img-fluid"  >

         </div>
    </div>
    </div>


</div>
 </div>
</body>
</html>